<!doctype html>
<html>

<head>
  <title>게시판</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
</head>

<body>
  <br>
  <div class="container" style="display: flex; flex-direction : row; justify-content:space-evenly; width: 85%">
    <hr>
    <div>
      <ul>
        <li><a href="/">글게시판</a></li>
        <li><a href="/board2">사진게시판</a></li>
        <li><a href="/board3">일정</a></li>
        <li><a href="/board4">더치페이</a></li>
      </ul>
    </div>
    <div class="container" style='margin-top:20px'>
      <table class="centered;" style="width: 100%">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성시간</th>
            <th scope="col">조회수</th>
          </tr>
        </thead>
        <tbody>
          <% if(boards !== undefined) { %>
          <% for(var i=boards.length-1; i >= 0; i--){ %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><a href="/board1-2/<%= boards[i]._id%>"><%= boards[i].title %></td>
            <td>익명</td>
            <td><%= boards[i].created_at %></td>
            <td><%= boards[i].hits %></td>
          </tr>
          <%}}%>
        </tbody>
      </table>
    </div>
  </div>
  <div style="margin-right: 250px">
    <a href="/write"
      style="font-style: italic; font-size: 2.2em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black; margin-right: 30px; float:right">글쓰기</a>
  </div>
</body>

</html>