<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>MIRO STORY-자유게시판</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.js"></script>

</head>

<body>
        <br>
        <div style="display: flex; flex-direction : column; ">
        <br>
        <div style="display: flex; justify-content:flex-end;">
            <div style="font-style: italic; font-size: 5.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black; margin: 0px 300px 0px 0px;">게시판</div>
        </div>
    <div class="container" style="display: flex; flex-direction : row; justify-content:space-evenly; "> 
        <ul>
            <li><a href="/">글게시판</a></li>
            <li><a href="/board2">사진게시판</a></li>
            <li><a href="/board3">일정</a></li>
            <li><a href="/board4">더치페이</a></li>
          </ul>
    <%if (result !== undefined) {%>

    <div class="container">
        <h2 style = "text-align: left;">
            <%=result.title%>
        </h2>
        <div style="text-align : right">
            <td>
                <time style="font-family: 'Black Han Sans', sans-serif; font-size:15px;" class="timeago" datetime="<%=result.created_at%>"></time>
            </td>
            <p style="font-family: 'Black Han Sans', sans-serif; font-size:15px;">조회 수 :
                <%=result.hits%>
            </p>
        </div>
        <br>
        <div style="min-height: 300px;">
            <p style="text-align: left; ">
                <%=result.content%>
            </p>
        </div>
        <div style="text-align:right; display: flex; flex-direction : row; justify-content: flex-end;">
            <form method="post" action="/destroy/<%=result._id%>" id="delete"></form>
            <div style="text-align:right; display: flex; flex-direction : row; justify-content: flex-end;">
            <a href="/rewrite/<%=result._id%>"><span style="color:black; margin-left: 15px;margin-right: 10px;">수정</span></a>
            <span style="color:black;cursor: pointer; margin-right: 10px;" onclick="document.getElementById('delete').submit()">삭제</span>
            <a href='/'><span span style="color:black; ">목록으로</span></a>
            </div>
        </div>

    </div>
    </div>
    <% } %>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("time.timeago").timeago();
        });
    </script>
</body>

</html>